@attribute [Route(RouteConstants.ProductTypeDeleteRoute)]

@rendermode InteractiveServer

<PageTitle>Remove product type</PageTitle>

<h2>Product type</h2>
<hr />

<AlertMessage @bind-Message="_message" />

@if (_productType is null)
{
    <LoadingGate BackToListRoute="@RouteConstants.ProductTypeBaseRoute" IsLoading="_message is null" />
}
else
{
    <DeleteForm TItem="ProductType"
                Item="_productType"
                OnValidSubmit="DeleteProductType"
                IsProcessing="_isProcessing"
                BackToListRoute="@RouteConstants.ProductTypeBaseRoute">

        <DeleteMessage>
            Are you sure you want to permanently remove the following product type?
        </DeleteMessage>
        <ChildContent>
            <ProductTypeFieldsDetail Model="_productType" />
        </ChildContent>

    </DeleteForm>

}

@code {

}