@page "/about"

@attribute [AllowAnonymous]

@rendermode InteractiveServer

<PageTitle>About</PageTitle>

<h2>About MyHomeCatalogus</h2>
<hr />

<div class="card form-container">
    <p class="about-intro-text">
        Inventory app for home.
    </p>

    <h3 class="about-section-header">Core Features</h3>
    Add products to your inventory, keep track of what's in stock and manage your shopping lists. 
    <br/>
    Manage product lists per store to keep track of where you bought your products and add them to your shopping list in the store app.
    <br />
    Manage all storage locations in your home, such as the pantry, fridge, freezer, liquor cabinet...
    <br />
    <ul class="about-feature-list">
        <li class="about-list-item">
            <strong>Shopping List Integration:</strong> Easily add products to a shopping list.
        </li>
        <li class="about-list-item">
            <strong>Stock Threshold Alerts:</strong> Set minimum stock levels for individual products to receive timely alerts when it's time to reorder.
        </li>
        <li class="about-list-item">
            <strong>Store-Specific Lists:</strong> Since all products are linked to a specific store, you can use your lists to create a shopping list on your specific store app.
        </li>
        <li class="about-list-item">
            <strong>Barcode Scanning:</strong> Add a barcode to a product for easy adding your products with your actual store app.
        </li>
    </ul>

    <h3 class="about-section-header about-section-header-upcoming">Upcoming Features</h3>

    <ul class="about-feature-list">
        <li class="about-list-item-lg">
            <strong>Recipes:</strong>
            <ul class="about-sub-list">
                <li class="about-sub-list-item">Detailed step-by-step cooking explanations.</li>
                <li class="about-sub-list-item">Possibility to check if ingredients are in stock and add the missing products directly to a shopping list.</li>
            </ul>
        </li>
        <li class="about-list-item-lg">
            <strong>Books:</strong> Create an inventory of your book collection.
        </li>
        <li class="about-list-item-lg">
            <strong>Music:</strong> Create an inventory of your music collection (e.g., vinyl, CDs).
        </li>
    </ul>

</div>

@code {

}
