<Widget Title="Reached product thresholds">
    <span class="fw-bold text-muted">
        <i class="bi bi-tools me-2"></i>Under construction <i class="bi bi-cone-striped"></i>
    </span>
</Widget>

@code {

}
