
@if (Model.Id != 0)
{
    <input type="hidden" name="Model.Id" value="@Model.Id" />
}

<AddUpdateFormRow>
    <LabelContent>
        <label for="name" class="form-label">Name (*):</label>
    </LabelContent>
    <InputContent>
        <InputText id="name" @bind-Value="Model.Name" class="form-control" aria-required="true" />
        <ValidationMessage For="() => Model.Name" class="text-danger" />
    </InputContent>
</AddUpdateFormRow>


<AddUpdateFormRow>
    <LabelContent>
        <label for="description" class="form-label">Description:</label>
    </LabelContent>
    <InputContent>
        <TextAreaWithCounter Id="description" @bind-Value="Model.Description" For="() => Model.Description" />
    </InputContent>
</AddUpdateFormRow>

<AddUpdateFormRow>
    <LabelContent>
        <label for="roomid" class="form-label">Room (*):</label>
    </LabelContent>
    <InputContent>
        <InputSelect id="roomid" @bind-Value="Model.RoomId" class="form-select" aria-required="true">

            <option value="0">-- Select a room --</option>
            @foreach (var room in Rooms)
            {
                <option value="@room.Id">@room.Name</option>
            }
        </InputSelect>
        <ValidationMessage For="() => Model.RoomId" class="text-danger" />
    </InputContent>
</AddUpdateFormRow>

@code {
    [Parameter, EditorRequired]
    public required StorageUnit Model { get; set; }

    [Parameter, EditorRequired]
    public required IEnumerable<Room> Rooms { get; set; }
}